#Complex Code Start

In [1]:
from random import shuffle
def suf(mylist):
    shuffle(mylist)
    return mylist

In [2]:
def player_guess():
    
    guess=""
    
    while guess not in ["0","1","2","3"]:
        guess=input("Pick a number between 0,1,2 or 3:-  ")
    
    return int(guess)

In [3]:
def check_guess(mylist,guess):
    if mylist[guess]=="2":
        print ("Correct Guess!!!")
    else:
        print ("Wrong Guess!!!")
        print (mylist)

In [4]:
#Initial list
mylist=["1","O","2","3"]

#Shuffle list
shuffled_=suf(mylist)

#User list
guess=player_guess()

#check list
check_guess(shuffled_,guess)

Pick a number between 0,1,2 or 3:-  2
Correct Guess!!!

#Complex code end

#

# *agrs and **kwargs(keywordsagruments)

In [5]:
def myfunc(a,b,c=0,d=0,e=0):
    #returns 5% of the sum a nd b
    return sum((a,b,c))*0.05

In [6]:
myfunc(40,60,100,100,32)

10.0

In [7]:
def myfunc(*args): #Here *args does work as tuple which can carry as many value as the user wants. We can use any other string
    return sum(args)*0.05 #in place of args

In [8]:
myfunc(13,42,45,10)

5.5

In [9]:
def func(*hell):
    return sum(hell)
func(23,12,42)

77

In [10]:
def myfunc(*ors):
    for item in ors:
        print(item)

In [11]:
myfunc(1,2,4,3,5)

1
2
4
3
5

In [12]:
def myfunc(**kwargs):#Here *kwargs does work as a dictionary which can carry as many key and value as the user wants.
    print(kwargs) #string in place of kwargs
    if 'fruit' in kwargs:
        print ("My fruit of choice is {}.".format(kwargs["fruit"]))
    else:
        print("I did not find any fruit here.")

In [13]:
myfunc(fruit="apple",veggie="lettuce")

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple.

#

In [14]:
def myfunc(**vehicle):
    if 'Veh' in vehicle:
        print(f"There is my fav vehicel whose name is {vehicle['Veh']}.")
        print("There is my fav vehicle {}.".format(vehicle["Veh"]))
    else:
        print("Here is not my fav vehicle")

In [15]:
myfunc(fruit="Guava",veggie="Cauliflower",Veh="Car")

There is my fav vehicel whose name is Car.
There is my fav vehicle Car.

#

In [16]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print("I would like {} {}".format(args[2],kwargs["food"]) )

In [17]:
myfunc(10,20,30,40,fruit="orange",food="eggs",animal="dog")# this has to go in the order which we prescribed before in myfunc()

(10, 20, 30, 40)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 30 eggs

In [18]:
def myfunc(*nos):
    y=[]
    for x in nos:
        if x%2==0:
            y.append(x)
        else:
            pass
    return y

In [19]:
myfunc(1,2,3,4,5)

[2, 4]

#

In [20]:
def myfunc(stra):
    result=""
    for n,word in enumerate(stra):
        if n%2==0:
            result +=word.upper()
        else:
            result +=word.lower()
    return result

In [21]:
myfunc("asdfghjkl")

'AsDfGhJkL'

In [22]:
def myfunc(string):
  result = ""
  for i, char in enumerate(string):
    if i % 2 == 0:
      result += char.upper()
    else:
      result += char.lower()
  return result

In [23]:
myfunc("asdfghjkl")

'AsDfGhJkL'

# Function Practice Exercise

In [24]:
def app(mylist):
    enumerate(mylist)
    return mylist

In [25]:
app("apple")

'apple'

In [26]:
def master_yoda(text):
    n=0
    words=text.split()
    y=len(words)
    #words=" "
    if n<=y:
        reverse_words=words[-1::-1]
        x=" ".join(reverse_words)
        n+=1
    return x.capitalize()
master_yoda("I am a Boy")

'Boy a am i'

In [27]:
def max_end3(nums):
  #for a,b,c in nums:
  if nums[0]>=nums[-1]:
    return [nums[0]]*3
  else:
    return [nums[-1]]*3

In [28]:
max_end3([5,2,4])

[5, 5, 5]

In [29]:
len([0])

1

In [30]:
def sum2(nums):
    z=nums
    if len(nums)==1:
        return sum(nums)
    elif len(nums)>=2:
        z=sum(nums[0],nums[1])
        return (sum(z))
    else:
        return (0)

In [31]:
sum2([1, 2, 3])

TypeError: 'int' object is not iterable

In [ ]:
def sum2(nums):
    if len(nums)==0:
        return 0
    elif len(nums)<=2:
        return sum(nums)
    else:
        return (sum(nums[:2]))

In [ ]:
sum2([1, 2, 3])

In [ ]:
x=22/7
y=float(x)
len(x)

In [ ]:
def cigar_party(cigars, is_weekend):
    #for x,b in (cigars,is_weekend):
    if not is_weekend:
        if cigars>=40 and cigars<=60:
            return True
        else:
            return False
    else:
        return True

In [ ]:
cigar_party(90,False)

In [ ]:
def sorta_sum(a, b):
    if sum([a,b])<10 or sum([a,b])>20:
        return 20
    else:
        return sum([a,b])

In [ ]:
sorta_sum(2,4)

In [ ]:
def in1to10(n, outside_mode=False):
    if outside_mode:
        return n<=0 or n>=11
            #return True
#        else:
#            return False
    #else:
    else: #not outside_mode
        return 1<=n<=10
        #else:
         #   return False

In [ ]:
in1to10(11,True)

In [ ]:
#brick problem
def make_bricks(small, big, goal):
  #for a,b,c in small, big, goal:
    z=goal-small
    return (z%(big*5)==0)

In [ ]:
make_bricks(1,2,9)

In [ ]:
def make_bricks(small, big, goal):
    total_from_big = big * 5  # Total bricks possible from big bricks
    small >= goal% total_from_big  # Remaining goal after using big bricks

  # Check if remaining goal can be met with small bricks and enough small bricks are available
    #return (0 <= remaining_goal <= small  # Combine conditions for clarity
make_bricks(3, 2, 8)

In [ ]:
def no_teen_sum(a, b, c):

    def fix_teen(n):
        return  (0 if 13<=n<=19 and n!=15 and n!=16 else n)
    a=fix_teen(a)
    b=fix_teen(b)
    c=fix_teen(c)
    return a+b+c

In [ ]:
no_teen_sum(15,10,20)

In [ ]:
def fix_teen(n):
    return 0 if 13 <= n <= 19 and n != 15 and n != 16 else n  # Use a concise conditional expression

def no_teen_sum(a, b, c):


  fixed_a = fix_teen(a)
  fixed_b = fix_teen(b)
  fixed_c = fix_teen(c)
  return fixed_a + fixed_b + fixed_c

In [ ]:
def lone_sum(a, b, c):

    if a==b:
        return sum(a,c)
    elif b==c:
        return sum(a,c)
    elif a==c:
        return sum(b,c)
    elif a==b==c:
        return a
    else:
        return sum(a,b,c)

In [ ]:
def lone_sum(a, b, c):
  if a==b:
    return sum(a,c)
  elif b==c:
    return sum(a,c)
  elif a==c:
    return sum(b,c)
  elif a==b==c:
    return a
  else:
    return sum(a,b,c)

In [ ]:
def round_sum(a, b, c):
    def round_no(n):
        r=n%10
        if r<=5:
            return n-r
        else:
            return n+(10-r)
    a=round_no(b)
    b=round_no(a)
    c=round_no(c)
    return a+b+c

In [ ]:
round_sum(13,14,15)

In [ ]:
def old_macdonald(name):
    a=name[:3].capitalize()
    d=name[3:].capitalize()
    return a+d
old_macdonald('macdonald')

In [ ]:
def summer_69(arr):
    x=0
    add= True
    
    for a in arr:
        while add:
            if a!=6:
                x+=a
                break
            else:
                add=False
        while not add:
            if a!=9:
                break
            else:
                add=True
                break
    return x

In [ ]:
summer_69([2,3,6])

In [ ]:
def sum_69(nums):
    a=True
    no=0
    for x in nums:
        while a:
            if x!=6:
                no+=x
                break
            else:
                add=False
        while not a:
            if x!=9:
                break
            else:
                a=True
                break
    return no

In [ ]:
sum_69([6,4,3,2,9,54])

In [ ]:
def spy_game(nums):
    code=[0,0,7,1]
    #[0,0,7,"x"]
    #[0,7,"x"]
    #[7,"x"]
    #["x"] Length=1
    for x in nums:
        if x==code[0]:
            code.pop(0)
    return len(code)==1
spy_game([4,2,4,7,0,7,0,7,2,4,3])

#Printing Alphabets

In [178]:
def print_big(letter):
    patterns={1:"  *  ",2:" * * ",3:"*   *",4:"*****",5:"**** ",6:"   * ",7:" *   ",8:"*  * ",9:"*    ",10:"***  ",11:"* *  *",12:"* * *"}
    alphabet={"A":[1,2,4,3,3],"B":[4,3,5,3,4],"C":[4,9,9,9,4],"D":[10,3,3,3,10],'E':[4,9,10,9,4],"F":[4,9,10,9,9],"H":[3,3,4,3,3],"I":[4,1,1,1,4],"L":[1,1,1,1,4],"N":[3,11,12,8,3],"O":[4,3,3,3,4],"T":[4,1,1,1,1],"U":[3,3,3,3,4],"V":[3,3,3,2,1],"Y":[3,3,2,1,1]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])
print(" ")
print_big("d")
print(" ")
print_big("i")
print(" ")
print_big("v")
print(" ")
print_big("i")
print(" ")
print_big("i")
print(" ")
print_big("h")
print(" ")
print_big("a")
print(" ")
print_big("t")
print(" ")
print_big("e")
print(" ")
print_big("y")
print(" ")
print_big("o")
print(" ")
print_big("u")

***
*   *
*   *
*   *
***

*****
  *
  *
  *
*****

*   *
*   *
*   *
 * *
  *

*****
  *
  *
  *
*****

*****
  *
  *
  *
*****

*   *
*   *
*****
*   *
*   *

  *
 * *
*****
*   *
*   *

*****
  *
  *
  *
  *

*****
*
***
*
*****

*   *
*   *
 * *
  *
  *

*****
*   *
*   *
*   *
*****

*   *
*   *
*   *
*   *
*****

In [182]:
def print_big(letter):
    patterns={1:"  *  ",2:" * * ",3:"*   *",4:"*****",5:"**** ",6:"   * ",7:" *   ",8:"*  * ",9:"*    ",10:"***  ",11:"**  *",12:"* * *",13:"*  **"}
    alphabet={"A":[1,2,4,3,3],"B":[4,3,5,3,4],"C":[4,9,9,9,4],"D":[10,3,3,3,10],'E':[4,9,10,9,4],"F":[4,9,10,9,9],"H":[3,3,4,3,3],"I":[4,1,1,1,4],"L":[9,9,9,9,4],"N":[3,11,12,13,3],"O":[4,3,3,3,4],"T":[4,1,1,1,1],"U":[3,3,3,3,4],"V":[3,3,3,2,1],"Y":[3,3,2,1,1]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])
print(" ")
print_big("h")
print(" ")
print_big("e")
print(" ")
print_big("l")
print(" ")
print_big("l")
print(" ")
print_big("o")
print(" ")
print_big("n")
print(" ")
print_big("a")
print(" ")
print_big("n")
print(" ")
print_big("c")
print(" ")
print_big("y")
print(" ")
#print_big("o")
print(" ")
#print_big("u")

*   *
*   *
*****
*   *
*   *

*****
*
***
*
*****

*
*
*
*
*****

*
*
*
*
*****

*****
*   *
*   *
*   *
*****

*   *
**  *
* * *
*  **
*   *

  *
 * *
*****
*   *
*   *

*   *
**  *
* * *
*  **
*   *

*****
*
*
*
*****

*   *
*   *
 * *
  *
  *

# Lambda Expressions, Map and Filter functions

#Map Function

In [ ]:
def square(num):
    return num**2

In [ ]:
my_nums=[1,2,3,4,5]
for item in map(square,my_nums):
    print (item)

In [ ]:
list(map(square,my_nums))

In [ ]:
def splicer(mystring):
    if len(mystring)%2==0:
        return "Even"
    else:
        return mystring[0]
names=["Andy","Eve","Sally"]
list(map(splicer,names))

#Filter Function

In [ ]:
def check_even(num):
    return (num%2==0)

In [ ]:
mynums=[1,2,3,4,5,6]
list(filter(check_even,mynums))

In [ ]:
for n in filter(check_even,mynums):
    print (n)

In [ ]:
filter

#labda expression

In [ ]:
m=lambda num:num**2

In [ ]:
m(5)

In [ ]:
k(4)

In [ ]:
b=lambda x, y:x + y
print (b(2, 3))

In [ ]:
print (b(99,11))

#Combine

In [ ]:
names

In [ ]:
b=(map(lambda x:x[0],names))
print (list(b))

In [ ]:
print("even nums:-",list(filter(lambda num:(num%2==0),mynums)))

In [ ]:
print("odd nums:-",list(filter(lambda num:(num%2!=0),mynums)))

#Nested Statements and scope

In [ ]:
#Nested Statements and Scope
x=25
def printer():
    x=50
    return x
print(x)

In [ ]:
print(printer())

# LEGB RULE:-

LEGB Rule:

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

In [ ]:
#lambda num:num**2

In [ ]:
#name="THIS IS A GLOBAL STRING"

def greet():
    
    #name='Sammy'
    
    def hello():
        name="I am a Local"
        print ("Hello!!! "+ name)
        
    hello()
    
greet()

In [ ]:
print ("Hello!!! "+name)

In [ ]:
help(len)

In [134]:
x=50

def func(x):
    #global x
    print(f'X is {x}') # This will get printed first
    
     #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    x=200
    
    print(f'I just Globally Changed X to {x}') #This will get printed second
    #return x

In [135]:
print(x)

50

In [136]:
x=func(x)

X is 50
I just Locally Changed X to 200

In [137]:
print(x)

None

In [146]:
x=50

def func():
    global x
   # x="New value"
    print(f'X is {x}') # This will get printed first
    
     #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    x="New Value"
    
    print(f'I just Globally Changed X to {x}') #This will get printed second
    #return x

In [147]:
print(x)

50

In [148]:
func()

X is 50
I just Globally Changed X to New Value

In [149]:
print(x)

New Value

In [2]:
x=50

def func():
    #global x
    x="New value"
    print(f'X is {x}') # This will get printed first
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    x="New Value"
    
    print(f'I just Locally Changed X to {x}') #This will get printed second
    return x

In [3]:
print(x)

50

In [4]:
func()

X is New value
I just Locally Changed X to New Value

'New Value'

In [5]:
print (x)

50

.

.

In [10]:
count=("Hello my name is Ram").islower()
print(count)

False

In [12]:
def ar_of_triangle(base,height):
    return base*height/2

In [13]:
ar_of_triangle(3,5)

7.5

In [14]:
def ar_of_triangle(base,height):
    print( base*height/2)

In [15]:
ar_of_triangle(5,3)

7.5

In [18]:
def get_sec(hour,minut,sec):
    a = hour*60*60+minut*60+sec
    return a

In [19]:
get_sec(4,32,54)

16374

In [32]:
def accut_tym(a):
    h = int(a/3600)
    m = int((a - h*3600)/60)
    s = (a - h*3600 - m*60)
    return (h,m,s)

In [33]:
accut_tym(16374)

(4, 32, 54)

In [40]:
name1 = input("Enter the desired name:- ")
num1 = len(name1)
print(f"{name1} this is your desired name with the number of elements of {num1}")

name2 = input("Enter the desired name:- ")
num2 = len(name2)
print(f"{name2} this is your desired name with the number of elements of {num2}")

Enter the desired name:- frd f
frd f this is your desired name with the number of elements of 5
Enter the desired name:- fdvf32456
fdvf32456 this is your desired name with the number of elements of 9

In [44]:
def naming_words(name):
    num = len(name)
    print(f"Your desires name is {name} with the length of {num}")
naming_words("Apple")
naming_words("gtrefd2435")

Your desires name is Apple with the length of 5
Your desires name is gtrefd2435 with the length of 10

In [48]:
a= input()
i=1
for x in range(int(a)):
    i=i*(23)
    print(i)

23
23
529
12167
279841
6436343
148035889
3404825447
78310985281
1801152661463
41426511213649
952809757913927
21914624432020321
504036361936467383
11592836324538749809
266635235464391245607
6132610415680998648961
141050039560662968926103
3244150909895248285300369
74615470927590710561908487
1716155831334586342923895201
39471584120695485887249589623
907846434775996175406740561329
20880467999847912034355032910567

In [50]:
a = input(); y = 1

for i in range(int(a)):
    y = y*(i+1)
    print(y)

2
1
2

In [54]:
def a_s(d):
    return range(int(d))
a_s(9)

range(0, 9)

In [62]:
def fact(n):
    a=1
    for x in range(int(n)):
        a=a*(x+1)
    return a

In [65]:
fact(5)

120

In [68]:
def fact(n):
    a=1
    for x in range(int(n)):
        a=a*(x+1)
    return a
num = input()
print(fact(num))

5
120

In [73]:
def seed_calculator(fountain_side,grasss_width):
    fountain_area = fountain_side**2
    total_area = (fountain_side + grasss_width*2)**2
    grass_area = total_area - fountain_area #(amount of grass seed in g/sq.m)
    seed = grass_area*35
    seed = seed/1000
    return seed

In [74]:
seed_calculator(12,2)

3.92

In [75]:
print (1<"1")

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
print("Apple"<"Banana" or "Brown"> "Magenta")

True

In [79]:
print(not 32 == "Apple")

True

In [80]:
def name_length(name):
    if len(name)>=8:
        print("name has 8 or more letters to satisfy.")
    else:
        print("name has not enough letters.")

In [81]:
name_length("Gian")

name has not enough letters.

In [82]:
name_length("Divya Sapare")

name has 8 or more letters to satisfy.

In [83]:
def name_length(name):
    if len(name)%2 == 0:
        print("name has even number of letters to satisfy.")
    else:
        print("name has odd number of letters.")

In [84]:
name_length("Sunio")

name has odd number of letters.

In [85]:
name_length("Nobita")

name has even number of letters to satisfy.

In [86]:
def numb(num):
    if num%2 == 0:
        print(f"{num} is a even number.")
    else:
        print(f'{num} is a odd number.')

In [87]:
numb(5)

5 is a odd number.

In [88]:
numb(876540)

876540 is a even number.

In [89]:
for item in list(zip(range(3),["fee","aplle",'gsd'])):
                 print(item)

(0, 'fee')
(1, 'aplle')
(2, 'gsd')

In [91]:
list(zip(("a","b",'c'),("1",'2',"3",'4'), strict = True))

ValueError: zip() argument 2 is longer than argument 1

In [92]:
list(zip(("a","b",'c'),("1",'2',"3",'4')))

[('a', '1'), ('b', '2'), ('c', '3')]

In [8]:
product = 1
x = int(input("Enter the value for which you are looking for factorial.- "))
for a in range(1,x):
        product = product*a
print(f"The factorial value for {x} is {product}")

Enter the value for which you are looking for factorial.- 10
The factorial value for 10 is 362880

In [11]:
from time import sleep
sleep()

TypeError: time.sleep() takes exactly one argument (0 given)

In [ ]:
from time import sleep

n = int(input("Enter a time value in seconds:- "))
while n>=0:
    print(n)
    sleep(n)
    n-=1

Enter a time value in seconds5
5
4
3
2